body {
    font-family: Arial, sans-serif;
}

.column1 {
    width: calc(50% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    float: left;
    background-color: #f4f4f4;
    box-sizing:border-box;
}
.column2 {
    width: calc(50% - 20px);
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    float: right;
    background-color: #f4f4f4;
    box-sizing:border-box;
}


body::after {
    content: "";
    display: table;
    clear: both;
}
