body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000080;
}

header img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.main-content, .weekly-specials {
    display: table-cell;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}

.main-content {
    width: 70%;
    background-color: #e6f2ff;
    border: 1px solid #000080;
    color: #000080;
}

.weekly-specials {
    width: 30%;
    border: 1px solid #000080;
    background-color: #cce6ff;
    color: #000080;
    text-align: center;
}

h1 {
    color: #ff6600;
}

.weekly-specials h1 {
    color: #000000;
}

h2 {
    color: #3399ff;
}

.weekly-specials h2 {
    color: #fd0000;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #000080;
}

p#guarantee {
    margin: 30px;
    padding: 20px;
    color: #444444;
    background-color: #a7cece;
    border: 2px dotted #ffffff;
}

ul li {
    font-style: normal;
}

ul li span.italic {
    font-style: italic;
}

ul li span.bold {
    font-weight: bold;
}
