body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000080;
}

header img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container {
    width: 100%;
    display: flex; /* Gebruik flexbox voor layout */
    justify-content: space-between; /* Ruimte tussen secties verdelen */
    gap: 10px; /* Ruimte tussen de flex items */
}

.main-content, .weekly-specials {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}

.main-content {
    width: 70%;
    background-color: #ffffff; /* Witte achtergrond */
    border: 1px solid #000080;
    color: #000080;
}

.weekly-specials {
    width: 30%;
    border: 1px solid #000080;
    background-color: #ffffff; /* Witte achtergrond */
    color: #000080;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Schaduw toevoegen */
}

h1 {
    color: #378480;
}

.weekly-specials h1 {
    color: #000000;
    background-image: url("../images/cocktail.gif");
    background-position: top center;
    background-size:50px 50px;
    padding-top: 50px;
    background-repeat: repeat-x;

}


h2 {
    color: #378480;
}

.weekly-specials h2 {
    color: #fd0000;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #000080;
}

p#guarantee {
    margin: 30px;
    padding-top: 25px;
    color: #444444;
    background-color: #a7cece;
    border: 1px dotted white;
    background-image: url("../images/background.gif");
    background-position: left center;
    background-size:50px 50px;
    background-repeat: no-repeat;
    padding-left: 50px;
    text-decoration: none;
}

ul li {
    font-style: normal;
}

ul li span.italic {
    font-style: italic;
}

ul li span.bold {
    font-weight: bold;
}
