body {
    font-family: Arial, sans-serif;
}

.column{
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    float: left;
    background-color: #f4f4f4;
    box-sizing: border-box;
}
section {
    margin: 0;
    padding: 0;
}
