/* Algemene stijlen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #040000;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Header stijl */
header {
    background-color: #d4af37;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Sectie stijl */
section {
    margin: 20px;
}

/* Lijst stijl in sectie */
ul li {
    margin-bottom: 10px;
}

/* Link stijl */
a {
    color: #0074b3;
    text-decoration: underline;
}

aside {
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
}

/* Tabelstijl */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d4af37;
    color: #050000;
}
td, th {
    border: 2px solid black;
}
img{
    width: 60%;
    height: auto;
    float: right;
}